<h1><i>Ranks! for this month</i></h1>
<p></p>

<table>
	<tr>
		<th>Rank</th>
		<th>Name</th>
		<th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  
  <% i = 0 %>
  <% @y.each do |rank| %>
	  
	  <tr>
		  <% i= i+1 %>
		  <td><%= i %></td>
		<td><%= rank.name %></td>
		<td><%= rank.points %></td>
		</tr>
<% end %>
</table>


<p>
  <a href="/masters">admin</a>
</p>

